<html>
<body>
  <h1>Hyvän mielen animekerhon nettisivut</h1>
    <div>
    <div><a href="./">Etusivu</a></div>
    <div><a href="./info">Tietoa meistä</a></div>
    <div><a href="./users">Käyttäjät</a></div>
    <div><a href="./login">Kirjaudu sisään</a></div>
  </div>

  <div>
    <p>Hei! Tervetuloa hyvän mielen animeseuran nettisivuille! Olemme tampereen yliopistolla
    toimiva fiktiivinen animeseura jonka nettisivut on tehty harjoitustyötä varten!</p>
    <p>Emme kokoonnu ikinä mutta voit katsoa fiktiivisen aikataulumme "aikataulu"-sivulta
      tai liittyä seuran jäseneksi "kirjaudu sisään" -sivulta!</p>
    <p>Näillä sivuilla ei ole täyttä toiminnallisuutta backend-ongelmien takia</p>
  </div>
</body>
</html>
