<html>
<body>
  <h1>Hyvän maun animekerho</h1>
  <div>
  <div><a href="./">Etusivu</a></div>
  <div><a href="./info">Tietoa meistä</a></div>
  <div><a href="./users">Käyttäjät</a></div>
  <div><a href="./login">Kirjaudu sisään</a></div>
</div>

  <h2>Aikataulu</h2>
  <div>
    <table>
      <tr><th>Aika</th><th>Maanantai</th><th>Tiistai</th><th>Keskiviikko</th><th>Torstai</th>
      <th>Perjantai</th><th>Lauantai</th><th>Sunnuntai</th></tr>
      <tr><th>14-16</th><td>Yllätysanime</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><th>16-18</th><td></td><td></td><td>Nyyttärit</td><td></td><td>Jojoperjantai</td><td></td><td></td></tr>
      <tr><th>18-20</th><td></td><td></td><td></td><td></td><td></td><td></td><td>Sarazanmai-ilta</td></tr>
    </table>
  </div>
</body>
</html>
